nav {
    transition: all ease-in-out 0.400s;
}
nav.hide-sidebar-menu {
    width: 0;
    transform: translateX(-100%);
}
nav.show-sidebar-menu {
    width: 18rem;
    transform: translateX(0);
}

.menu-item {
    background: #333;
    transition: background ease-in-out 200ms;
}
.menu-item:hover {
    background: transparent;
}

@media screen and (min-width: 1024px) {
    nav {
        transition: none;
    }
    nav.hide-sidebar-menu , nav.show-sidebar-menu {
        width: 18rem;
        transform: translateX(0);
    }
}